<script setup>
import { defineEmits } from "vue";
const props = defineProps({
  title: {
    type: String,
    default: "Title",
  },
  data: {
    type: Object,
    default: null,
  },
  onSubmit: {
    type: Function,
    default: function () {},
  },
});
const emit = defineEmits(["close"]);
function onDelete() {
  emit("close");
  props.onSubmit();
}
</script>
<template>
  <div>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Delete {{ title }}</p>
      </header>
      <div class="modal-card-body">
        <slot></slot>
      </div>
      <footer class="modal-card-foot">
        <button class="button is-normal" type="button" @click="$parent.close()">
          Cancel
        </button>
        <button class="button is-danger is-normal" @click.prevent="onDelete()">
          Delete
        </button>
      </footer>
    </div>
  </div>
</template>
