<script setup>
import { ref } from "vue";
import { VueLoading } from "vue-loading-template";

const isUpdating = ref(true);
</script>
<template>
  <div class="place-holder">
    <vue-loading
      v-if="isUpdating"
      type="spiningDubbles"
      color="#18aab7"
      :size="{ width: '30px', height: '30px' }"
    />
  </div>
</template>
