<script setup>
const props = defineProps({
  message: {
    type: String,
    default: "",
  },
});
</script>
<template>
  <div class="is-centered">
    <p class="has-text-grey has-text-weight-normal is-size-6 place-holder">
      {{ props.message }}
    </p>
  </div>
</template>
