<script setup>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import SvgIcon from "@jamescoyle/vue-icon";
import { mdiTrashCanOutline } from "@mdi/js";
import router from "../../../router";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import ActorsModel from "../modal/ActorsModel.vue";
import FormHeader from "../components/FormHeader.vue";
import { errorToast } from "../../../utility/toaster.js";

const movieFormStore = useMovieFormStore();
const { obj, actors, genres } = storeToRefs(movieFormStore);
const isActive = ref(false);
const deleteIcon = ref(mdiTrashCanOutline);
const headerProps = ref({
  title: "Actor Info",
  step: movieFormStore.step,
  total: movieFormStore.totalSteps,
});

function openModal() {
  isActive.value = true;
}

function closeModal() {
  isActive.value = false;
}

function onGoBack() {
  movieFormStore.step--;
}

async function onSubmit() {
  if (genres.value.length < 1) {
    errorToast({ message: "Genre is missing" });
  } else if (actors.value.length < 1) {
    errorToast({ message: "Actor is missing" });
  } else {
    // const data = { ...obj.value };
    const data = Object.assign({}, obj.value);
    data.actors = actors.value;
    data.genres = genres.value;

    // check form is loaded to create new movie or update exising movie
    if (!movieFormStore.isUpdate) {
      await movieFormStore.onCreate(data);
      router.back();
    } else {
      await movieFormStore.onEdit(data);
      router.go(-2);
    }
  }
}

function onDelete(actor) {
  movieFormStore.removeActors(actor);
}
</script>
<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="card">
              <FormHeader :data="headerProps" />
              <div class="card-content">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <b-button type="is-primary" @click.prevent="openModal">
                        Add Actor
                      </b-button>
                    </div>
                  </div>
                </div>
                <table class="table is-fullwidth">
                  <tbody>
                    <tr v-for="(item, index) in actors" :key="index">
                      <td>
                        <div class="level is-mobile">
                          <div class="level-left">
                            <div class="level-item">
                              <div>
                                <p class="subtitle is-5 has-text-grey-dark">
                                  {{ item.firstName }} {{ item.lastName }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="level is-mobile">
                          <div class="level-item has-text-centered">
                            <button
                              class="button is-primary is-inverted"
                              @click="onDelete(item)"
                            >
                              <svg-icon
                                type="mdi"
                                :path="deleteIcon"
                              ></svg-icon>
                            </button>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <b-field grouped>
                    <div class="control buttons">
                      <b-button type="is-outlined" @click.prevent="onGoBack()">
                        Back
                      </b-button>
                      <b-button type="is-primary" @click.prevent="onSubmit()">
                        Submit
                      </b-button>
                    </div>
                  </b-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-modal :active.sync="isActive" has-modal-card>
      <ActorsModel @closeEvent="closeModal" />
    </b-modal>
  </div>
</template>
