<script setup>
import { ref, onMounted } from "vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import FormHeader from "../components/FormHeader.vue";
import { onKeyDown } from "../../../utility/utility";
import "../../../utility/validators";
import router from "../../../router";

const movieFormStore = useMovieFormStore();
const name = ref("");
const year = ref(1920);
const ageLimit = ref(13);
const rating = ref(5);
const synopsis = ref("");

const headerProps = ref({
  title: "Basic Info",
  step: movieFormStore.step,
  total: movieFormStore.totalSteps,
});

onMounted(() => {
  populate(); // populate existing values if any
});

function populate() {
  name.value =
    movieFormStore.obj && movieFormStore.obj.name
      ? movieFormStore.obj.name
      : "";
  year.value =
    movieFormStore.obj && movieFormStore.obj.year
      ? movieFormStore.obj.year
      : 2000;
  ageLimit.value =
    movieFormStore.obj && movieFormStore.obj.ageLimit
      ? movieFormStore.obj.ageLimit
      : 13;
  rating.value =
    movieFormStore.obj && movieFormStore.obj.rating
      ? movieFormStore.obj.rating
      : 5;
  synopsis.value =
    movieFormStore.obj && movieFormStore.obj.synopsis
      ? movieFormStore.obj.synopsis
      : "";
}

async function onGoBack() {
  movieFormStore.$reset();
  router.back();
}

async function onNextStep() {
  // set values
  movieFormStore.setObj({
    name: name.value,
    year: year.value,
    ageLimit: ageLimit.value,
    rating: rating.value,
    synopsis: synopsis.value,
  });
  movieFormStore.step++;
}
</script>
<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="card">
              <FormHeader :data="headerProps" />
              <div class="card-content">
                <ValidationObserver ref="baseInfo" v-slot="{ handleSubmit }">
                  <form
                    method="POST"
                    @submit.prevent="handleSubmit(onNextStep)"
                    @reset.prevent="reset"
                  >
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="name"
                      rules="required"
                      slim
                    >
                      <b-field
                        label="Name"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-input
                          v-model="name"
                          placeholder="name"
                          name="name"
                        />
                      </b-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="year"
                      rules="required|positive|isInteger"
                      slim
                    >
                      <b-field
                        label="Year"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-numberinput
                          v-model="year"
                          min="1920"
                          @keydown.native="onKeyDown"
                        />
                      </b-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="ageLimit"
                      rules="required|positive|isInteger"
                      slim
                    >
                      <b-field
                        label="Age Limit"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-numberinput
                          v-model="ageLimit"
                          min="1"
                          max="18"
                          @keydown.native="onKeyDown"
                        />
                      </b-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="rating"
                      rules="required|positive|isInteger"
                      slim
                    >
                      <b-field
                        label="Rating"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-numberinput
                          v-model="rating"
                          min="1"
                          max="10"
                          @keydown.native="onKeyDown"
                        />
                      </b-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="synopsis"
                      rules="required"
                      slim
                    >
                      <b-field
                        label="Synopsis"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-input
                          v-model="synopsis"
                          placeholder="synopsis"
                          maxlength="200"
                          type="textarea"
                          name="synopsis"
                        />
                      </b-field>
                    </ValidationProvider>
                    <hr />
                    <b-field grouped>
                      <div class="control buttons">
                        <b-button
                          type="is-outlined"
                          @click.prevent="onGoBack()"
                        >
                          Back
                        </b-button>
                        <button class="button is-primary" type="submit">
                          Next
                        </button>
                      </div>
                    </b-field>
                  </form>
                </ValidationObserver>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
