<script setup>
import { ref, onMounted } from "vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import FormHeader from "../components/FormHeader.vue";

const movieFormStore = useMovieFormStore();

const firstName = ref("");
const lastName = ref("");

const headerProps = ref({
  title: "Director Info",
  step: movieFormStore.step,
  total: movieFormStore.totalSteps,
});

onMounted(() => {
  populate(); // populate existing values if any
});

function populate() {
  firstName.value =
    movieFormStore.obj && movieFormStore.obj.director
      ? movieFormStore.obj.director.firstName
      : "";
  lastName.value =
    movieFormStore.obj && movieFormStore.obj.director
      ? movieFormStore.obj.director.lastName
      : "";
}

async function onGoBack() {
  movieFormStore.step--;
}

async function onNextStep() {
  movieFormStore.setObj({
    director: {
      firstName: firstName.value,
      lastName: lastName.value,
    },
  });
  movieFormStore.step++;
}
</script>
<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="card">
              <FormHeader :data="headerProps" />
              <div class="card-content">
                <ValidationObserver ref="baseInfo" v-slot="{ handleSubmit }">
                  <form
                    method="POST"
                    @submit.prevent="handleSubmit(onNextStep)"
                  >
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="firstName"
                      rules="required"
                      slim
                    >
                      <b-field
                        label="First Name"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-input
                          v-model="firstName"
                          placeholder="first name"
                          name="firstName"
                        />
                      </b-field>
                    </ValidationProvider>
                    <ValidationProvider
                      v-slot="{ errors }"
                      name="lastName"
                      rules="required"
                      slim
                    >
                      <b-field
                        label="Last Name"
                        :type="{ 'is-danger': errors[0] }"
                        :message="errors"
                      >
                        <b-input
                          v-model="lastName"
                          placeholder="last name"
                          name="lastName"
                        />
                      </b-field>
                    </ValidationProvider>
                    <hr />
                    <b-field grouped>
                      <div class="control buttons">
                        <b-button
                          type="is-outlined"
                          @click.prevent="onGoBack()"
                        >
                          Back
                        </b-button>
                        <button class="button is-primary" type="submit">
                          Next
                        </button>
                      </div>
                    </b-field>
                  </form>
                </ValidationObserver>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
