<script setup>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import GenreModal from "../modal/GenreModal.vue";
import FormHeader from "../components/FormHeader.vue";

const movieFormStore = useMovieFormStore();
const { genres } = storeToRefs(movieFormStore);
const isAddActive = ref(false);

const headerProps = ref({
  title: "Basic Info",
  step: movieFormStore.step,
  total: movieFormStore.totalSteps,
});

function openGenreModal() {
  isAddActive.value = true;
}
async function onGoBack() {
  movieFormStore.step--;
}

async function onNextStep() {
  movieFormStore.step++;
}
</script>
<template>
  <div>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-6">
            <div class="card">
              <FormHeader :data="headerProps" />
              <div class="card-content">
                <div class="level">
                  <div class="level-left">
                    <div class="level-item">
                      <b-button
                        type="is-primary"
                        @click.prevent="openGenreModal"
                      >
                        Update Genres
                      </b-button>
                    </div>
                  </div>
                </div>
                <table class="table is-fullwidth">
                  <tbody>
                    <tr v-for="(item, index) in genres" :key="index">
                      <td>
                        <div class="level is-mobile">
                          <div class="level-left">
                            <div class="level-item">
                              <div>
                                <p class="subtitle is-5 has-text-grey-dark">
                                  {{ item }}
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <b-field grouped>
                    <div class="control buttons">
                      <b-button type="is-outlined" @click.prevent="onGoBack()">
                        Back
                      </b-button>
                      <b-button type="is-primary" @click.prevent="onNextStep()">
                        Next
                      </b-button>
                    </div>
                  </b-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <b-modal :active.sync="isAddActive" has-modal-card>
      <GenreModal />
    </b-modal>
  </div>
</template>
