<script setup>
import { computed, onBeforeUnmount, onBeforeMount } from "vue";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import BaseInfo from "./BaseInfo.vue";
import GenresInfo from "./GenresInfo.vue";
import ActorsInfo from "./ActorsInfo.vue";
import DirectorInfo from "./DirectorInfo.vue";

const movieFormStore = useMovieFormStore();

const current = computed(function () {
  if (movieFormStore.step === 1) {
    return BaseInfo;
  } else if (movieFormStore.step === 2) {
    return DirectorInfo;
  } else if (movieFormStore.step === 3) {
    return GenresInfo;
  } else {
    return ActorsInfo;
  }
});

onBeforeMount(async () => {
  movieFormStore.totalSteps = 4;
});

onBeforeUnmount(async () => {
  movieFormStore.$reset();
});
</script>
<template>
  <div>
    <component :is="current" />
  </div>
</template>
