<script setup>
import { computed } from "vue";
import { useMovieStore } from "../stores/movie";
import AllMovies from "@/modules/movie/components/AllMovies.vue";
import SearchResults from "@/modules/movie/components/SearchResults.vue";
import Search from "@/modules/movie/components/Search.vue";
import { PAGE } from "@/modules/movie/constants/";
import router from "../router";

const store = useMovieStore();
const current = computed(() =>
  store.activeComponent === PAGE.searchResult ? SearchResults : AllMovies
);

function onCreate() {
  router.push({ path: "/create" });
}
</script>
<template>
  <!-- main view displaying list of movies --->
  <main>
    <div class="section">
      <div class="columns is-centered">
        <div class="column is-6 is-centered">
          <nav class="level">
            <div class="level-right">&nbsp;</div>
            <div class="level-right">
              <button class="button is-primary" @click="onCreate()">
                Create Movie
              </button>
            </div>
          </nav>
        </div>
      </div>
      <div>
        <Search />
      </div>
    </div>
    <component :is="current" />
  </main>
</template>
