<script setup>
import { ref } from "vue";
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { useMovieFormStore } from "../../../stores/movieForm.js";
const movieFormStore = useMovieFormStore();
const emit = defineEmits(["close"]);

const firstName = ref("");
const lastName = ref("");

function onSubmit() {
  const actor = {
    firstName: firstName.value,
    lastName: lastName.value,
  };
  movieFormStore.addActors(actor);
  emit("closeEvent");
}
</script>
<template>
  <!-- modal window for adding actors -->
  <div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Add Actor</p>
      </header>
      <div class="modal-card-body">
        <ValidationObserver ref="baseInfo" v-slot="{ handleSubmit }">
          <form method="POST" @submit.prevent="handleSubmit(onSubmit)">
            <ValidationProvider
              v-slot="{ errors }"
              name="firstName"
              rules="required"
              slim
            >
              <b-field
                label="First Name"
                :type="{ 'is-danger': errors[0] }"
                :message="errors"
              >
                <b-input
                  v-model="firstName"
                  placeholder="first name"
                  name="firstName"
                />
              </b-field>
            </ValidationProvider>
            <ValidationProvider
              v-slot="{ errors }"
              name="lastName"
              rules="required"
              slim
            >
              <b-field
                label="Last Name"
                :type="{ 'is-danger': errors[0] }"
                :message="errors"
              >
                <b-input
                  v-model="lastName"
                  placeholder="last name"
                  name="lastName"
                />
              </b-field>
            </ValidationProvider>
            <hr />
            <b-field grouped>
              <div class="control buttons">
                <button
                  class="button is-normal"
                  type="button"
                  @click="$parent.close()"
                >
                  Close
                </button>
                <button class="button is-primary" type="submit">Submit</button>
              </div>
            </b-field>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
