<script setup>
import { ref } from "vue";
import { storeToRefs } from "pinia";
import { GENRES } from "../constants";
import { useMovieFormStore } from "../../../stores/movieForm.js";

const movieFormStore = useMovieFormStore();
const { genres } = storeToRefs(movieFormStore);
const allGenres = ref(GENRES);
</script>
<template>
  <!-- modal window for selecting genres -->
  <div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Select Genres</p>
      </header>
      <div class="modal-card-body">
        <div v-for="(item, index) in allGenres" :key="index">
          <b-checkbox v-model="genres" :native-value="item">
            {{ item }}
          </b-checkbox>
        </div>
      </div>
      <footer class="modal-card-foot">
        <button class="button is-normal" type="button" @click="$parent.close()">
          Close
        </button>
      </footer>
    </div>
  </div>
</template>
