<script setup>
import { computed, onMounted } from "vue";
import { useMovieStore } from "../../../stores/movie.js";
import router from "../../../router";
import Loading from "../../../components/gadgets/Loading.vue";
import PlaceHolder from "../../../components/gadgets/PlaceHolder.vue";
import MovieUI from "./MovieUI.vue";
import { storeToRefs } from "pinia/dist/pinia";

const store = useMovieStore();
const movies = computed(() => store.findAllMovies);
const { isFetchingMovies, placeHolder } = storeToRefs(store);

onMounted(async () => {
  await store.onFetch();
});

function onClickItem(movie) {
  store.selected = movie;
  router.push({ path: "/item" });
}
</script>

<template>
  <div class="section">
    <div class="columns is-centered">
      <div v-if="isFetchingMovies" class="column is-6">
        <loading />
      </div>
      <div v-else-if="movies.length > 0">
        <div v-for="(item, index) in movies" :key="index">
          <br />
          <movie-u-i :movie="item" :on-click="onClickItem.bind(this, item)" />
        </div>
      </div>
      <div v-else class="column is-6">
        <PlaceHolder :message="placeHolder" />
      </div>
    </div>
  </div>
</template>
