<script setup>
const props = defineProps({
  data: {
    type: Object,
    required: true,
  },
});
const title = props.data.title ? props.data.title : "unknown";
const step = props.data.step ? props.data.step : 0;
const total = props.data.total ? props.data.total : 0;
</script>
<template>
  <div class="card-header">
    <p class="card-header-title has-text-grey has-text-weight-semibold">
      {{ title }}
    </p>
    <p class="card-header-icon has-text-grey has-text-weight-semibold">
      {{ step }} / {{ total }}
    </p>
  </div>
</template>
