<script setup>
import { ref } from "vue";
import SvgIcon from "@jamescoyle/vue-icon";
import {
  mdiArrowLeft,
  mdiTrashCanOutline,
  mdiSquareEditOutline,
} from "@mdi/js";
import { useMovieStore } from "../../../stores/movie.js";
import { useMovieFormStore } from "../../../stores/movieForm.js";
import router from "../../../router";
import MovieUI from "./MovieUI.vue";
import DeleteModal from "../../../components/gadgets/DeleteModal.vue";
import SimplifiedMovieUI from "./SimplifiedMovieUI.vue";

const movieFormStore = useMovieFormStore();
const store = useMovieStore();
const movie = store.selected;
const backIcon = ref(mdiArrowLeft);
const editIcon = ref(mdiSquareEditOutline);
const deleteIcon = ref(mdiTrashCanOutline);

const isDeleteActive = ref(false);

// called after delete conformation
async function onFinalizeDelete() {
  await store.onDelete(movie._id);
  router.replace({ path: "/" });
}
function onBack() {
  router.back();
}
function onEdit() {
  movieFormStore.$patch({
    obj: movie,
    isUpdate: true,
    genres: movie.genres,
    actors: movie.actors,
  });
  router.push({ path: "/edit" });
}
function onDelete() {
  isDeleteActive.value = true;
}
</script>

<template>
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-6">
        <nav class="box level">
          <div class="level-left">
            <div class="level-item">
              <button class="button is-primary is-inverted" @click="onBack()">
                <SvgIcon type="mdi" :path="backIcon"></SvgIcon>
              </button>
            </div>
          </div>
          <div class="level-right">
            <button class="button is-primary is-inverted" @click="onEdit()">
              <SvgIcon type="mdi" :path="editIcon"></SvgIcon>
            </button>
            <button
              class="button is-primary is-inverted"
              name="delete"
              @click="onDelete()"
            >
              <SvgIcon type="mdi" :path="deleteIcon"></SvgIcon>
            </button>
          </div>
        </nav>
      </div>
    </div>
    <MovieUI :movie="movie" />
    <b-modal :active.sync="isDeleteActive" has-modal-card>
      <delete-modal :data="movie" title="Movie" :on-submit="onFinalizeDelete">
        <SimplifiedMovieUI :movie="movie" />
      </delete-modal>
    </b-modal>
  </div>
</template>
