<script setup>
import { ref } from "vue";
import { useMovieStore } from "../../../stores/movie";
import { PAGE } from "../constants";

const store = useMovieStore();
const query = ref(store.searchQuery);

/**
 * Reset store component and search query
 */
function onChange() {
  if (query.value.length === 0) {
    store.activeComponent = PAGE.allMovies;
    store.searchQuery = "";
  }
}

/**
 * set store component and search query and execute query
 * @returns {Promise<void>}
 */
async function onSubmit() {
  if (query.value.length > 1) {
    store.searchQuery = query.value;
    store.activeComponent = PAGE.searchResult;
    await store.onSearch(query.value);
  }
}
</script>
<template>
  <div class="columns is-centered">
    <div class="column is-6">
      <div class="box">
        <b-field>
          <b-input
            placeholder="Search..."
            type="search"
            icon="magnify"
            @input="onChange"
            v-model="query"
            @keyup.enter.native="onSubmit"
          >
          </b-input>
        </b-field>
      </div>
    </div>
  </div>
</template>
