<script setup>
import { computed } from "vue";
import { storeToRefs } from "pinia";
import { useMovieStore } from "../../../stores/movie.js";
import router from "../../../router";
import Loading from "../../../components/gadgets/Loading.vue";
import PlaceHolder from "../../../components/gadgets/PlaceHolder.vue";
import MovieUI from "./MovieUI.vue";

const store = useMovieStore();
const movies = computed(() => store.findSearchResults);
const { isFetchingSearch, placeHolder } = storeToRefs(store);

/**
 * set selected movie and reroute
 * @param movie
 */
function onClickItem(movie) {
  store.selected = movie;
  router.push({ path: "/item" });
}
</script>

<template>
  <div class="section">
    <div class="columns is-centered">
      <div v-if="isFetchingSearch" class="column is-6">
        <loading />
      </div>
      <div v-else-if="movies.length > 0">
        <div v-for="(item, index) in movies" :key="index">
          <br />
          <MovieUI :movie="item" :on-click="onClickItem.bind(this, item)" />
        </div>
      </div>
      <div v-else class="column is-6">
        <PlaceHolder :message="placeHolder" />
      </div>
    </div>
  </div>
</template>
