<script setup>
const props = defineProps({
  movie: {
    type: Object,
    required: true,
  },
});
</script>

<template>
  <div class="columns is-centered">
    <div class="column is-12">
      <div>
        <div class="media">
          <div class="media-content">
            <div class="media-left">
              <label
                class="subtitle is-6 has-text-grey-dark has-text-weight-semibold"
                >Title:
                <span class="has-text-grey has-text-weight-normal"
                  >{{ props.movie.name }}
                </span> </label
              ><br />
              <label
                class="subtitle is-6 has-text-grey-dark has-text-weight-semibold"
                >Genres:
              </label>
              <label v-for="(genre, q) in props.movie.genres" :key="'C' + q">
                <span class="inline-block has-text-grey has-text-weight-normal"
                  >{{ genre }},
                </span> </label
              ><br />
              <label
                class="subtitle is-6 has-text-grey-dark has-text-weight-semibold"
              >
                Director:
                <span class="has-text-grey has-text-weight-normal"
                  >{{ props.movie.director.firstName }}
                  {{ props.movie.director.lastName }}
                </span>
              </label><br/>
              <label
                class="subtitle is-6 has-text-grey-dark has-text-weight-semibold"
                >Year:
                <span class="has-text-grey has-text-weight-normal"
                  >{{ props.movie.year }}
                </span> </label
              ><br />
            </div>
          </div>
          <div class="media-right has-text-centered">
            <small class="has-text-weight-semibold has-text-grey">Rating</small>
            <small
              ><br /><label
                class="is-size-4 has-text-weight-normal has-text-grey"
                >{{ props.movie.rating }}</label
              ></small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
